.schedule-form {
    width: 600px;
    padding: 20px;
}

.schedule-canvas {
    border: 1px solid #ccc;
}

#changeDate {
    display: none;
    position: fixed;
    padding: 10px;
    border: 1px solid #09f;
}