.schedule-form {
    width: 600px;
    padding: 20px;
}

.schedule-canvas {
    border: 1px solid #ccc;
}

#changeDate {
    display: none;
    position: fixed;
    bottom: 50px;
    padding: 10px;
    margin-left: 20px;
    /* 暂时设置margin */
    border: 1px solid #09f;
    background-color: #fff;
}

#changeDate-form .form-group {
    margin-bottom: 0;
}

.pick-list {
    position: fixed;
    display: none;
    border: 1px solid #09f;
    border-left: 0;
}

.list-item {
    padding: 2px;
    font-size: 0;
    cursor: pointer;
}

.list-item-color {
    display: inline-block;
    width: 15px;
    height: 10px;
    margin: 0 5px;
}

.plan-name {
    display: inline-block;
    font-size: 12px;
    height: 15px;
    margin: 0 5px;

}

#floorState {
    display: none;
    position: fixed;
    left: 50%;
    top: 240px;
    margin-left: -220px;
    width: 440px;
    padding: 10px;
    border: 1px solid #09f;
    background-color: #fff;
    font-size: 18px;
}

#floorState .floor-state-title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
}

#close-floor-state-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

}